<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Christian B. | Portfolio</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:title" content="Christian B. | Portfolio">
    <meta property="og:site_name" content="Christian B. ">
    <meta property="og:url" content="https://bloeckchengrafik.github.io">
    <meta property="og:description"
          content="Hey, I'm Chris, Ropeway enthusiast and hobby developer.">
    <meta property="og:type" content="profile">
    <meta property="og:image" content="https://bloeckchengrafik.github.io/assets/img/avatar_sail.jpg">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/styles.css">

    <link rel="apple-touch-icon" href="/assets/img/not-that-of-a-generic-user.png">
    <link rel="icon" href="/assets/img/avatar_sail.jpg">

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12" defer></script>
    <script src="/assets/js/index.js" defer></script>
</head>
<body>
<nav>
    <a href="#home"><img src="/assets/img/avatar_sail.jpg" alt="Icon" class="sidebar-image"></a>
    <div class="height-1"></div>
    <a href="#projects"><i class="bi bi-kanban sidebar-icon"></i></a>
    <div class="height-1"></div>
    <a href="/posts"><i class="bi bi-journal-text sidebar-icon"></i></a>
    <div class="height-1"></div>
    <a href="#keys"><i class="bi bi-key sidebar-icon"></i></a>
    <div class="height-1"></div>
    <a href="#gh-stats"><i class="bi bi-github sidebar-icon"></i></a>
</nav>
<div class="wrapper" id="wrap">
    <main id="home">
        <div class="height-10vh"></div>
        <img src="/assets/img/avatar_sail.jpg" alt="Profile Picture" id="profile-picture" width="128px"
             height="128px">
        <h1>Hi, I'm Christian Bergschneider</h1>
        <h2><span class="typing"></span></h2>
        <div class="socials">
            <a target="_blank" href="https://github.com/Bloeckchengrafik" data-href><i class="bi bi-github"></i></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCIdJodt-a_26pBEkSiOKgAQ"><i
                    class="bi bi-youtube"></i></a>
            <a target="_blank" href="https://discord.gg/rs9WxKs6tt"><i class="bi bi-discord"></i></a>
            <a target="_blank" href="https://www.reddit.com/user/BloeckchenDev"><i class="bi bi-reddit"></i></a>
            <a target="_blank" href="https://stackoverflow.com/users/16519092/bloeckchen"><i
                    class="bi bi-stack-overflow"></i></a>
            <a target="_blank" href="https://bloeckchengrafik.de/posts"><i class="bi bi-file-earmark-text"></i></a>
        </div>
        <div class="projects">
            <h2 id="projects">Projects I've built</h2>
            <div class="projects-container">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/img/Sync_Main_Menu.png" alt="Image">
                    <div class="skill-pill-container">
                        <div class="skill-pill">
                            Fullstack
                        </div>
                        <div class="skill-pill">
                            Kubernetes
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Sync-Client</h5>
                        <p class="card-text">
                            Sync is a Minecraft Hack-Client that is designed to be as simple as possible to use and as 
                            hard as possible to decompile. Written in Kotlin and Java.
                        </p>
                        <a href="https://syncclient.dev" class="btn" target="_blank">Details</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                         src="/assets/img/noted-lines.png"
                         alt="Image">
                    <div class="skill-pill-container">
                        <div class="skill-pill">
                            Open Source
                        </div>
                        <div class="skill-pill">
                            Inactive
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Noted!</h5>
                        <p class="card-text">A Note-Taking App for the 21st Century that is designed to be as simple as possible to use and as easy to
                            modify as possible. Written in Rust, Tauri and Svelte.
                        </p>
                        <a href="https://bloeckchengrafik.github.io/noted" class="btn"
                           target="_blank">Details</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/img/Handbestueckung10.jpg" alt="Image">
                    <div class="skill-pill-container">
                        <div class="skill-pill">
                            Robotics
                        </div>
                        <div class="skill-pill">
                            Inter-IC-Communication
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">ftPwrDrive.py</h5>
                        <p class="card-text">Python Library to control the ftPwrDrive by my father and me using I2C and Python. Based on
                            Torsten Stuehn's ftrobopy-Library</p>
                        <a href="https://github.com/Bloeckchengrafik/ftPwrDrive-python-lib" class="btn" target="_blank">Details</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/img/bci_plan.png" alt="Image">
                    <div class="skill-pill-container">
                        <div class="skill-pill">
                            Hardware
                        </div>
                        <div class="skill-pill">
                            Neuro-Engineering
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Brain-Computer-Interface</h5>
                        <p class="card-text">A school project with <a href="https://github.com/Flo-Mit-H"
                                                                      target="_blank">@Flo-Mit-H</a>. Highly inspired by
                            OpenBCI's Mark IV.</p>
                        <a href="https://github.com/Bloeckchengrafik/brain-computer-interface" class="btn"
                           target="_blank">Details</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog" style="margin-top: 3em">
            <h2 id="blog">Blog</h2>
            <p>
                I'm currently working on a blog. Get to it <a href="https://bloeckchengrafik.de/posts" target="_blank">here</a>.
            </p>
        </div>

        <div class="keys">
            <h2 id="keys">PGP Key</h2>
            <p>
                My PGP key has the fingerprint <code>F221 2F87 5BB3 89BB 7621 72E2 3991 F97F 5FA2 8D3E</code>. <br/>
                <br/>
                Get the PGP-Key as a <a href="/keys/ChristianBergschneider_0x5FA28D3E_public.asc" target="_blank">raw
                file</a>(<a href="/keys/ChristianBergschneider_0x5FA28D3E_public.asc.sha256sum"
                            target="_blank">SHA256Sum</a>) or import it directly: <br/>
                <code>curl https://bloeckchengrafik.github.io/keys/ChristianBergschneider_0x5FA28D3E_public.asc | gpg
                    --import</code><br/>
            </p>
        </div>
        <div class="gh-stats">
            <h2 id="gh-stats">Github Stats</h2>
            <img src="https://github-readme-streak-stats.herokuapp.com?user=Bloeckchengrafik&theme=darcula&hide_border=true&background=FFFFFF00&count_private=true"
                 alt="">
        </div>
        <footer>
            <h3><i>That's All</i></h3><br/>
            <h5>&copy; 2022. All Rights Reserved. Bloeckchengrafik</h5>
            <br/>
            <h5 class="zen" data-zen data-inviewport></h5>
            <br/>
        </footer>
    </main>
</div>
</body>
</html>
